/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background-color: #242424;
    --text-color: #f0f0f0;
    --border-color: #666;
    --header-bg-color: #292929;
    --menu-bg-color: #545454b8;
    --content-bg-color: #242424;
    --button-bg-color: #555;
    --button-hover-opacity: 0.8;
    --container-padding: 10px;
    --container-border-radius: 16px;
    --button-border-radius: calc(var(--container-border-radius) - var(--container-padding));
}

body.light-mode {
    --background-color: #f0f0f0;
    --text-color: #242424;
    --border-color: #999;
    --header-bg-color: #f0f0f0;
    --menu-bg-color: #f0f0f0;
    --content-bg-color: #f0f0f0;
    --button-bg-color: #bbb;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
    background: linear-gradient(135deg, 
              #3498db,   /* Soft blue */
              #6ab04c,   /* Fresh green */
              #1abc9c,   /* Aqua */
              #2980b9,   /* Deep blue */
              #2ecc71    /* Soft green */
              );
    background-size: cover;
    min-height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "header"
        "menu content";
    max-width: 768px;
    width: 100%;
    margin: 20px auto;
    gap: 0px;
    border: 1px solid var(--border-color);
    border-radius: var(--container-border-radius);
    overflow: hidden;
    box-shadow: 0 1px 5px 1px #242424;
}

.header, .content {
    padding: 20px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.header {
    grid-area: header;
    background-color: var(--header-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*border-bottom: 1px solid var(--border-color);*/
}

/* Time in header aligned right */
.time {
    text-align: right;
    font-weight: 600;
}

/* Menu */
.menu {
    grid-area: menu;
    background-color: var(--menu-bg-color);
    padding: var(--container-padding);
    /*border-right: 1px solid var(--border-color);*/
}

.menu button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    background-color: var(--button-bg-color);
    color: var(--text-color);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: var(--button-border-radius);
    backdrop-filter: blur(4px);
}

.menu button:hover {
    opacity: var(--button-hover-opacity);
}

/* Content */
.content {
    grid-area: content;
    background-color: var(--content-bg-color);
}

/* Responsive Grid */
@media (min-width: 768px) {
    .container {
        grid-template-columns: 20% 80%;
        grid-template-areas:
        "menu header"
        "menu content";
    }
}

/* Toggle Mode Button */
.toggle-mode {
    background-color: var(--button-bg-color);
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: var(--button-border-radius);
}

.toggle-mode:hover {
    opacity: var(--button-hover-opacity);
}

.time-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.time {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    text-align: center;
}

.time span {
    font-size: 16px;
    font-weight: bold;
}

ul {
    list-style-position: inside;
    padding-left: 0;
    margin: 10px 0;
}

li {
    margin-bottom: 10px;
}
  